.itens-balanco {
  padding: 2rem;
  align-items: center;
  display: flex;
}

.div-balanco {
  border-radius: 20px;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  width: 10rem;
}

.div-balanco {
    background-color: rgb(58, 58, 58);
}


.linha-divisao {
  margin-top: 4rem;
  width: 1050px;
}

#prejuizos {
  background-color: #9e6161;
  box-shadow: 0px 0px 5px #9e6161;
}

#ativos-totais{
  background-color: #4a92cc;
  box-shadow: 0px 0px 5px #4a92cc;
}

#passivos-totais {
  background-color: #a692ff;
  box-shadow: 0px 0px 5px #a692ff;
}

#lucros{
  background-color: #589966;
  box-shadow: 0px 0px 5px #589966;
}

#patrimonio {
  background-color: #57abb1;
  box-shadow: 0px 0px 5px #57abb1;
}

@media (prefers-color-scheme: light) {
    .div-balanco {
        background-color: rgb(204, 204, 204);
    }
    #ativos-totais {
        background-color: #35a4ff;
         box-shadow: 0px 0px 5px #005397;
    }
    #lucros{
        background-color: #53ff79;
        box-shadow: 0px 0px 5px #009721c5;
    }
    #prejuizos {
        background-color: #ff7070;
        box-shadow: 0px 0px 5px #ff7070;
        }
}

